*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.form-contant{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.5);
    border-radius: 10px;
}


#sp{

    font-size: 20px;
}

.form-1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap: 20px;
}

.f-data{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: -13px;
}
input,
select,
textarea{
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.text-area{
    display: grid;
    grid-column: 1 / span 2;
    margin-left: -287px;
    margin-top: 10px;
}
.text-area textarea{
    width: 100%;
    margin-top: 15px;
}



button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 8px;
    color: black;

}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

@media (max-width:460px){

    .text-area{
        grid-column: 1 / span 1;
       max-width: 375px;
        margin-left: 5px;
    }
}

